*{
    background-image: url("starry-night-wallpapers.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.in1{
    display: flex;
    align-items: center;  /*to align vertically center by specifing height*/
    height: 100vh; /*to set in center*/
    justify-content: center; /*to align horizontally center*/
}
.calc{
    background-image: none;
    background-color: darkgray;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}
#display{
    padding: 15px 50px 7px 65px;
    background-image: none;
    color: aliceblue;
    background-color: darkslategray;
    border-radius: 4px;
    width: 100px;
    text-align: right;
}
.butchar{
    padding: 10px;
    background-image: none;
    border: 3px,solid,black;
    color: aliceblue;
    background-color: darkgoldenrod;
    border-radius: 4px;
    width: 50px;
}
.butchar:hover{
    font-size: 18px;
    background-color: darksalmon;
}
.butsym{
    padding: 10px;
    background-image: none;
    border: 3px,solid,black;
    color: aliceblue;
    background-color: indianred;
    border-radius: 4px;
    width: 50px;
}
.butsym:hover{
    font-size: 18px;
    background-color: darksalmon;
}
.butnum{
    padding: 10px;
    background-image: none;
    border: 3px,solid,black;
    color: aliceblue;
    background-color: darkgrey;
    border-radius: 4px;
    width: 50px;
}
.butnum:hover{
    font-size: 18px;
    background-color: darksalmon;
}